body{
    background: aliceblue;
    margin: 0;
    min-width: 750px;
}

.toolBar{
    height: 50px;
    background: gainsboro;
    margin-bottom: 5%;
}
.ChangeSettingsDiv {
    position: relative;
    left: 100px;
    top: 20px;
    z-index: 20000;
}
.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.leaveGame {
    margin-right: 30px;
}

.leaveGame:hover {
    color: blueviolet;
    cursor: pointer;
}

.logoSpan {
    position: absolute;
    right: 0;
}

.rowBlocks {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 15px;
}

.colBlocks {
    display: inline-block;
    margin-bottom: 5px;
}

.rowBlock {
    display: block;
    height: 30px;
    text-align: center;
}

.colBlock{
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid transparent;
}

.rowSquares {
    display: inline-block;
}

.colHint{
    font-size: 14px;
    margin-top: 15px;
}

.rowHint {
    font-size: 14px;
    margin-right: 5px;
    display: inline-block;
}

.rowDiv{
    display: table-row;
}

.square{
    display: inline-block;
    border: 1px black solid;
    width: 30px;
    height: 30px;
    transition: background 2s ease;
}

.square:hover {
    background: antiquewhite;
    cursor: pointer;
}

.selected {
    border-color: red;
}

.colorChooserDiv > div {
    width: 75px;
    height: 75px;
    border: 1px black solid;
}

.colorChooserDiv .colorSelected {
    border: #85ffbf 2px solid;
}

.mainDivBody {
    margin-bottom: 5px;
    min-width: 1050px;
}

.board {
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    line-height: 0;
    margin-left: 1%;
    margin-right: 1%;
    width: 45vw;
    height: 65vh;
    min-width: 400px;
    overflow: auto;

}

.completedBoard{
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    line-height: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}

.completedBoardBody{
    display: table;
    margin: 0 auto;
}

.boardBody {
    display: table;
    margin: 0 auto;
}

.replayBoard{
    vertical-align: top;
    white-space: nowrap;
    line-height: 0;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 400px;
    overflow: auto;
}

.replayBoardBody {
    margin: 0 auto;
    max-width: 670px;
    max-height: 470px;
}

.leftDiv {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    margin-left: 1%;
    border-radius: 14px;
    background: antiquewhite;
    box-shadow: -1px 0px 3px 1px;
}

.details > div > {
    margin-bottom: 2px;
}

.turnDetails {
    margin-bottom: 10%;
}

.actions > div {
    margin-bottom: 6px;
}

.colorChooserDiv {
    vertical-align: top;
    display: inline-block;
}

.colorChooserDiv > div {
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 3px -1px 23px 1px;
}


.colorChooserDiv > div:hover {
    border: #85ffbf 2px solid;
}

.userNameSpan{
    margin-right: 30px;
}

.details{
    margin-bottom: 10%;
}

.blackChooser {
    background: black;
}

.whiteChooser {
    background: gray;
}

.undefinedChooser{

}

.action{
    border: 1px solid black;
    border-radius: 10px;
    background: cadetblue;
    text-align: center;
    box-shadow: 4px 0px 9px 1px;
    background: cadetblue;
}

.action:hover {
    background: aliceblue;
    cursor: pointer;
}

.players {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    height: 500px;
    width: 245px;
    float: right;
    text-align: center;
    background: rgb(43, 163, 43);
    opacity: 0.6;
    border-radius: 15px;
    box-shadow: 3px 6px 17px 1px;
    font-size: 20px;
    color: burlywood;
    font-style: italic;
}

.playerContainerDiv {
    position: relative;
}

.playerDiv:hover {
    background: black;
    cursor: pointer;
    overflow: visible;
    width: fit-content;
    min-width: 100px;
}

.playersNames {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    vertical-align: top;
    width: 100px;
    white-space: nowrap;
}

.playersTypes {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    width: 60px;
    vertical-align: top;
}

.playersScore {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    width: 50px;
    vertical-align: top;
}

.playerDiv{
    text-overflow: ellipsis;
    overflow: hidden;
}

.textInput{
    display: inline-block;
    height: 23px;
    width: 100%;
}

.descriptionDiv{
    display: inline-block;
    left: 50%;
    width: 400px;
    margin-left: 20%;
}

.specialButtons{
    display: inline-block;
    margin-left: 15%;
}

.bottomDiv{
    min-width: 800px;
    white-space: nowrap;
}

.specialButton
{
    background: cornflowerblue;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    box-shadow: 0px 0px 38px 10px;
    cursor: pointer;
    transition: all 1s ease;
}

.specialButton:hover{
    transition: all 1.5s ease;
    background: darkolivegreen;
    padding: 20px;
}

.black {
    background: rgba(0, 0, 0, 0.87);
    animation-name: rotateAnimation;
    animation-duration: 0.5s;
}

@keyframes rotateAnimation {
    to { transform: rotate(1turn); }
}

.empty {
    background: gray;
    animation-name: rotateAnimation;
    animation-duration: 0.5s;
}

.PlayerTurn {
    display: inline-block;
}

.currentPlayerName{
    display: inline-block;
}

.moveListDialog{
    background: antiquewhite;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.closeEnd {
    position: absolute;
    right: 40px;
    top: 0;
    cursor: pointer;
}

.closeReplay {
    position: absolute;
    right: 40px;
    top: 0;
    cursor: pointer;
}

.winnerDialog{
    background: #a55210;
    display: none;
    position: fixed;
    left: 20%;
    text-align: center;
    overflow: auto;
    z-index: 3000;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation: winnerAnimation 4s;
    border-radius: 90px;
    width: 35vw;
    height: 65vh;
}

.replayDialog{
    background: #a55210;
    display: none;
    position: absolute;
    left: 30%;
    overflow: auto;
    z-index: 2000;
    box-shadow: 9px 6px 64px 32px;
    animation: fade 2s;
    border-radius: 90px;
    padding: 40px;
}

.replayDialogContent{
    font-family: cursive;
    padding: 40px;
}

.dialogContent{
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-family: cursive;
    margin: 40px;
}

.perfect {
    background: red;
    color: red;
}

.replayButtons{
    margin-top: 3%;
    position: absolute;
    left: 20%;
}

.replayButton{
    background: cadetblue;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid black;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 1px 7px 1px;
}

.image {
    height: 50px;
    width: 100px;
    margin-right: 30px;
    margin-top: -15px;
}

.replayButton:hover
{
    background: aliceblue;
    border: 1px;
}

.bestSolutionTable {
    /*border: 1px black solid;*/
    /*border-radius: 6px;*/
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    width: 70%;
}

.RulesTable {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    width: 30%;
}


.TeachersTable {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    width: 100%;
}


.floated {
    float:left;
    margin-right:5px;
}

.gamesDiv tr:hover {
    background: blanchedalmond;
}

th {
    background: #c6ffafa6;
}


@keyframes winnerAnimation {
    from {background: gray; width: 0px; height: 0px;}
    to { transform: rotate(1turn); background: #a55210; width: 600px; height: 600px; }
}

@keyframes fade {
    from {opacity: 0; background: green;}
    to {opacity: 1; bacground: brown;}
}

@keyframes openDialog {
    from
    {
        background: black;
        font-size: 0px;
    }
    to
    {
        background: antiquewhite;
        font-size: 14px;
    }
}
